<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit profile", edit_user_path(@user) %>
  <% unless current_user.is_admin? %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
